body {
  display: grid;
  justify-content: center; /* Center horizontally on the page */
  background-color: rgb(153, 152, 152);
}

h1 {
  font-size: 2.5em;
}

h1, h2 {
  display: grid;
  justify-content: center; /* Center horizontally on the page */
  margin-bottom: 30px;
}

.bar {
  background-color: blue; /* Default bar color*/
  color: white; /* Default font color inside the bar*/
  text-align: center; /* Horizontally center text inside the bar*/
  font-size: 1.4em;
}

.xLabel {
  text-align: center; /* Horizontally center the X axis label in the bar container */
}
